<div class="container">
    <h1>Se Connecter</h1>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')"
        >
          entrer un email valide
        </mat-error>
        <mat-error *ngIf="loginForm.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <button type="submit" mat-stroked-button>soumettre</button>
    </form>
    <h1 *ngIf="isNotAdmin">l'utilisateur n'est pas admin</h1>
  </div>
  