<div class="container">
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.color]="tile.textColor"
    >
      <mat-card class="card" [style.background]="tile.color">
        <mat-card-header>
          <mat-card-title>
            <h1>{{ tile.title }}</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="text">{{ tile.text }}</div>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-footer>
          <div class="text">
            posté par {{ tile.sender }} le {{ tile.createdAt }}
          </div>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
